# Use CPU-only torch to save space and memory on Render
--extra-index-url https://download.pytorch.org/whl/cpu

fastapi
uvicorn
pydantic
pinecone
sentence-transformers
groq
python-dotenv
firebase-admin