@import "tailwindcss";

@theme {
  --color-gold: #D4AF37;
  --color-deep-black: #050505;
  --color-slate-card: #111111;
}

/* Base Body Styles */
@layer base {
  body {
    @apply bg-black text-white antialiased overflow-x-hidden;
  }
}

/* Smooth Transitions */
* {
  transition: all 0.2s ease-in-out;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
